* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none
}
a:hover {
    text-decoration: none
}
ul,ol {
    list-style-type: none
}
.clr{
    clear: both;
}
/*============navber pert start==========*/
#header {
    background: #363636;
    padding-top: 14px;
    padding-bottom: 14px;
}
.language {
    margin-right: 22px;
}
.language i {
    color: #898989;
    font-size: 15px;
    line-height: 20px;
}
.language span {
    font-family: 'Roboto', sans-serif;
    color: #898989;
    font-size: 13px;
    line-height: 20px;
}
.header-phone {
    margin-left:0px;
}
.header-phone i {
    color: #898989;
    font-size: 15px;
    line-height: 20px;
}
.header-phone span{
    font-family: 'Roboto', sans-serif;
    color: #898989;
    font-size: 13px;
    line-height: 20px;
}
.header-email i{
    color: #898989;
    font-size: 15px;
    line-height: 20px;
}
.header-email span{
    font-family: 'Roboto', sans-serif;
    color: #898989;
    font-size: 13px;
    line-height: 20px;
}
.header-login i{
    color: #898989;
    font-size: 15px;
    line-height: 20px;
}
.header-login span{
    font-family: 'Roboto', sans-serif;
    color: #898989;
    font-size: 13px;
    line-height: 20px;
}

.white-list i{
    color: #898989;
    font-size: 15px;
    line-height: 20px;
}
.white-list span{
    font-family: 'Roboto', sans-serif;
    color: #898989;
    font-size: 13px;
    line-height: 20px;
}
.header-icon {
    margin-left: 48px;
}
.header-icon i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #555555;
    color: #898989;
    font-size: 12px;
    border-radius: 3px;
}
.header-icon i:hover {
    background: #e5493a;
    color: #363636;
}
/*============navber pert start==========*/
.navbar-brand {
    padding-top: 25px;
    padding-bottom: 25px;
}
.navbar-light .navbar-nav .nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #555;
    font-weight: 800;
    line-height: 20px;
    padding: 0 18px;
}
/* .nav-link::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 3px;
    background: #e5493a;
    top: 0;
    left: 0;
} */
.navbar-light .navbar-nav .nav-link:hover{
    color: #e5493a;
}
.dropdown-item {
	font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #555;
    font-weight: 800;
    line-height: 20px;
}
.navber-card {
    margin-right: 16px;
}
.naveber-icon i {
    color: #363636;
    font-size: 15px;
}
/*============banner pert start==========*/
#banner {
    position: relative;
}
.banner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    /* background: rgba(0, 0, 0, 0.40); */
    width: 100%;
    height: 100%;
}
.banner-text {
    padding-top: 245px;
    z-index: 999;
}
.banner-text h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 68px;
    color: #fff;
    font-weight: 800;
}
.banner-text h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 51px;
    color: #fff;
    font-weight: 800;
}
.banner-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    color: #fff;
    font-weight: 400;
    padding-bottom: 20px;
}
.banner-text a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    padding: 22px 33px;
    border: 2px solid #fff;
    border-radius: 3px;
    margin-right: 15px;
    text-transform: uppercase;
}
.banner-text a:hover{
    background: #363636;
    border-color: #363636;
}
/*============service pert start==========*/
#service {
    padding-top: 40px;
    padding-bottom: 56px;
    background: #363636;
}
.service-text h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #959595;
    font-weight: 700;
}
.service-text p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #707070;
    font-weight: 400;
    position: relative;
}
.service-text p::after{
    position: absolute;
    content: '';
    bottom: -79px;
    left: 50%;
    width: 15px;
    height: 15px;
    background: #fafafa;
    transform: rotate(45deg);
}
#sevice-item {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fafafa;
}
.service-item {
    padding: 33px 25px;
    background: #fff;
    position: relative;
}
.service-item i {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 32px;
    background: #363636;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
}
.service-item:hover i {
    background: #e5493a;
}
.service-item h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #363636;
    font-weight: 700;
    padding-top: 18px;
}
.service-item:hover h4 {
    color: #e5493a;
}
.service-item p {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
}
.service-item p::after{
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #363636;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.service-item:hover ::after{
    background: #e5493a;
}
/*============portfolio pert start==========*/
#portfolio {
    padding-top: 80px;
    padding-bottom: 95px;
}
.heading h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #363636;
    font-weight: 700;
}
.heading p {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
}
.heading p::after{
    position: absolute;
    content: '';
    width: 170px;
    height: 2px;
    background: #363636;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
.nav-item-main {
    padding-top: 30px;
}
.nav-tabs .nav-link {
    border: none;
    background-color: #fff;
    color: #555;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 50px;

}
.nav-tabs {
    border-bottom: none;
}
.nav-tabs .nav-link.active{
    color: #e5493a;
}
.work-images {
    position: relative;
}

.work-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(54, 54, 54, 0.85);
    width: 100%;
    height: 100%;
    padding: 15px;
    opacity: 0;
    transition: all linear.3s;
}
.work-overlay h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    color: #fff;
    font-weight: 700;
}
.work-overlay p {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    line-height: 20px;
    position: relative;
}
.work-overlay p::after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #e5493a;
    bottom: -25px;
    left: 0;
}
.work-icon {
    position: absolute;
    bottom: 30px;
    right: 30px;
}
.work-icon i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #252525;
    border-radius: 50%;
    font-size: 15px;
    color: #fff;
}
.work-icon i:hover{
    background: #e5493a;
}
.work-images:hover .work-overlay{
    opacity: 1;
}
.work-more {
    padding-top: 40px;
}
.work-more a{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 800;
    padding: 15px 25px;
    background: #363636;
    border-radius: 3px;
    text-transform: uppercase;
}
/*============about-us pert start==========*/
#about-us {
    background: url(../images/about-us-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 80px;
    padding-bottom: 90px;
}
.about-heading h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}
.about-heading p {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    position: relative;
    padding-bottom: 65px;
}
.about-heading p::after{
    position: absolute;
    content: '';
    width: 170px;
    height: 2px;
    background: #e5493a;
    bottom: 37px;
    left: 50%;
    transform: translateX(-50%);
}
.our-work {
    width: 130px;
    height: 130px;
    border: 5px solid #464646;
    border-radius: 50%;
    position: relative;
}
.our-work h4 {
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    color: #fff;
    font-weight: 700;
}

.our-work-text h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #e5493a;
    font-weight: 700;
    padding-top: 22px;
}
.our-work-text p {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    font-weight: 400;
}

/*============choose-us pert start==========*/
#choose-us {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fafafa;
}
.our-process {
    margin-top: 50px;
}
.card {
    border: 0;
}
.card-header{
    padding: 0;
    border-bottom: 0;
}

.card-header .btn {
    color: #363636;
    font-family: 'Raleway', sans-serif
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
    width: 100%;
    height: 43px;
}
.card-header .btn span {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #636363;
    font-weight: 400;
}
/* .card-header{
    font-size: 26px;
    color: #e5493a;
} */
.btn-link:hover{
    text-decoration: none;
}
.btn-link.focus, .btn-link:focus {
    text-decoration: none;
}
.card .btn.btn-link{
    background: #363636;
    color: #fff;
}
.card .btn.btn-link i {
    width: 43px;
    height: 43px;
    line-height: 43px;
    text-align: center;
    background: #363636;
    color: #fff;
    font-size: 20px;
    transition: all linear .3s;
    position: absolute;
    top: 10px;
    right: 0;
    
}
.card .btn.btn-link.collapsed{
    background-color: #f2f2f2;
    color: #363636;
}
.card .btn.btn-link i{
    transform: rotate(90deg);
    background: #e5493a;
}
.card .btn.btn-link.collapsed i{
    transform: rotate(0deg);
    background: #363636;
}
.btn.btn-link {
    text-align: left;
}
/* .card-body span {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #959595;
    font-weight: 400;
    
} */
.our-team {
    margin-top: 50px;
}
.our-team-member {
    margin-bottom: 30px;
    background: #f2f2f2;
    padding: 25px;
    border-radius: 3px;
}
.team-images img{
    border-radius: 50%;
}
.team-text h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #363636;
    font-weight: 500;
}
.team-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
}
.slick-dots {
    position: absolute;
    left: 0;
    bottom: -50px;
}
.slick-dots li {
    width: 10px;
    height: 10px;
    background: #ebebeb;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    text-align: center;
    line-height: 23px;
}
.slick-dots li button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #e5493a;
    color: transparent;
    border: none;
    opacity: 0;
}
.slick-dots li button:focus{
    outline: none;
}
.slick-dots li.slick-active button {
    opacity: 1;
}

.slick-dots li.slick-active{
    border-color: dodgerblue;
}

/*============blog pert start==========*/
#blog {
    padding-top: 80px;
    padding-bottom: 80px;
}
.blog-item-main {
    margin-top: 50px;
}
.blog-item {
    position: relative;
}
/* .blog-item i {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #252525;
    color: #fff;
} */
.blog-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(54, 54, 54, 0.85);
    opacity: 0;
}
.blog-img-overlay:hover {
    opacity: 1;
}
.blog-img-overlay i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #252525;
    color: #fff;
}
.blog-img-overlay i:hover{
    background: #e5493a;
}
.over-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.over-center i {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #252525;
    color: #fff;
    border-radius: 50%;
}
.over-center i:hover{
    background: #e5493a;
}
.blog-item-text {
    padding-top: 20px;
    padding-right: 20px;
    position: relative;
}
.blog-item-text span {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
}
.blog-item-text h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #363636;
    font-weight: 500;
    padding-top: 5px;
}
.blog-item-text:hover h4 {
    color: #e5493a;
}
.blog-item-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
    line-height: 20px;
}
.blog-item-text a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 500;
    padding-top: 7px;
}
.blog-item-text:hover a {
    color: #e5493a;
}
.blog-item-text a::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 2px;
    background: #363636;
    bottom: -7px;
    left: 0;
}
.blog-item-text:hover ::after{
    background: #e5493a;
}
.slider-item{
    margin-right: 20px;
}
/*============theme-option pert start==========*/
#theme-option {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #f5f5f5;
}
.theme-icon i {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 50%;
    background: #fafafa;
    font-size: 40px;
    color: #363636;
}

.theme-text h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #363636;
    font-weight: 700;
}
.theme-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
    line-height: 20px;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #f4f4f4;
}
.nav-link.active h5{
color: #e5493a;
}
.nav-link.active i {
    color: #e5493a;
    border: 2px solid #e5493a;
}
/*============client-logo pert start==========*/
#client-logo {
    background: url(../images/logo-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
    /* position: relative; */
}
.client-logo-icon i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.431);
    color: #fff;
    font-size: 15px;
    border-radius: 3px;
}
.client-logo-icon i:hover{
    background: #363636;
}
.icon-setup {
    position: relative;
}
.client-logo-icon i.prev {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateX(-50%);
}
.client-logo-icon i.next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateX(-50%);
}
.slient-item img{
    
}
/*============footer pert start==========*/
#footer {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #252525;
}
.footer-psd-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color: #363636;
    font-weight: 700;
    padding-top: 15px;
}
.footer-logo-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
}
.footer-logo-text a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #e5493a;
    font-weight: 400;
}
.email-news-latter h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    padding-top: 25px;
}
.email-news-latter input {
    width: 225px;
    height: 40px;
    background: #171717;
    border: none;
    padding: 0 10px;
    position: relative;
}
.email-news-latter input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #464646;
    font-weight: 400;
}
/* .email-news-latter input:focus {
    outline-offset: 0;
} */
.email-news-latter button {
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #171717;
    text-align: center;
    color: #363636;
    position: absolute;
    bottom: 24;
    right: 6px;
    border: none;
}
.privacy a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #464646;
    font-weight: 400;
    margin-top: 20px;
}
.letest-news-footer h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 30px;
    position: relative;
}
.letest-news-footer h4::after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #e5493a;
    bottom: 15px;
    left: 0;
}
.news-footer:hover .news-img-ovaerlay{
    opacity: 1;
}
.footer-news-img{
    position: relative;
}
.news-img-ovaerlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(38, 38, 38, 0.85);
    top: 0;
    left: 0;
    opacity: 0;
}
.news-img-ovaerlay i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background: #252525;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 12px;
}
.news-img-ovaerlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.news-heading {
    margin-left: 10px;
}
.news-heading h6{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
}
.news-footer:hover h6 {
    color: #e5493a;
}
.news-heading p{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #464646;
    font-weight: 400;
}
/* .news-footer{
    position: relative;
}
.news-footer::after{
    position: absolute;
    width: 100%;
    height: 5px;
    background: #fff;
    bottom: 0;
    left: 0;
} */
.twit-heading h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 30px;
    position: relative;
}
.twit-heading h4::after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #e5493a;
    bottom: 15px;
    left: 0;
}
.twit-item i {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #464646;
    color: #252525;
    font-size: 12px;
    border-radius: 50%;
}
.twit-item:hover i {
    color: #fff;
}
.twit-text a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
}
.twit-item:hover a {
    color: #fff;
}
.twit-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #464646;
    font-weight: 400;
}
.get-touch h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    padding-bottom: 30px;
    position: relative;
}
.get-touch h4::after {
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #e5493a;
    bottom: 15px;
    left: 0;
}
.getin-touch-item:hover p{
    color: #e5493a;
}
.getin-touch-item h5 {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
}
.getin-touch-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
}
.getin-touch-text-icon i {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background: #464646;
    color: #252525;
    font-size: 10px;
    border-radius: 3px;
}
.getin-touch-text-icon i:hover{
    background: #e5493a;
}
/*============copy-right pert start==========*/
#copy-right {
    padding-top: 35px;
    padding-bottom: 35px;
    background: #111111;
}
.copy-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #464646;
    font-weight: 400;
}
.copy-menu ul li {
    display: inline-block;
}
.copy-menu ul li a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #464646;
    font-weight: 700;
    padding: 0 5px;
}
.copy-menu ul li a:hover{
    color: #e5493a;
}


/*============about-page pert start==========*/
#about-page #creative-agency{
    padding-top: 80px;
    padding-bottom: 80px;
}
#about-page .header{
    background: #fafafa;
}
#about-page .digital-agency-text h4{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #363636;
    font-weight: 400;
}
#about-page .digital-agency-text p{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
}
#about-page .digital-agency-text a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 35px;
    background: #363636;
}
#about-page #why-choose-us{
    padding-top: 80px;
    padding-bottom: 80px;
}
#about-page .chosseus-heading h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #363636;
    font-weight: 700;
    position: relative;
}
#about-page .chosseus-heading h4::after{
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #363636;
    top: 51px;
    left: 0;
}
#about-page .chosseus-heading p {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    padding-top: 30px;
}
#about-page .why-chooseus{
    padding-top: 20px;
}
#about-page .why-chooseus i {
    color: #8dc63f;
    font-size: 18px;
}
#about-page .why-chooseus p {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

#about-page .our-service-heading h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #363636;
    font-weight: 700;
    position: relative;
}
#about-page .our-service-heading h4::after{
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #363636;
    top: 51px;
    left: 0;
}

#about-page .why-chooseus{
    padding-top: 20px;
}
#about-page .why-chooseus i {
    color: #8dc63f;
    font-size: 18px;
}
#about-page .our-service-heading{
    padding-bottom: 20px;
}
#about-page .why-chooseus p {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}
#about-page .our-capabilities h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #363636;
    font-weight: 700;
    position: relative;
}
#about-page .our-capabilities h4::after{
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #363636;
    top: 51px;
    left: 0;
}

#about-page .skill-bar-main {
    padding-top: 30px;
    position: relative;
    overflow-x: hidden;
}
#about-page .skill-bar-main h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 700;
}
#about-page .skill-bar{
    width: 100%;
    height: 10px;
    background: #ddd;
}
#about-page .skill-persent{
    width: 95%;
    height: 10px;
    background: #e5493a;
}
#about-page .persentage span {
    position: absolute;
    top: 30px;
    left: 88%;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #e5493a;
    border-radius: 3px;
}

#about-page .skill-bar-main2 {
    padding-top: 30px;
    position: relative;
    overflow-x: hidden;
}
#about-page .skill-bar-main2 h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 700;
}
#about-page .skill-bar2{
    width: 100%;
    height: 10px;
    background: #ddd;
}
#about-page .skill-persent2{
    width: 50%;
    height: 10px;
    background: #e5493a;
}
#about-page .persentage2 span {
    position: absolute;
    top: 30px;
    left: 50%;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #e5493a;
    border-radius: 3px;
}
#about-page .skill-bar-main3 {
    padding-top: 30px;
    position: relative;
    overflow-x: hidden;
}
#about-page .skill-bar-main3 h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 700;
}
#about-page .skill-bar3{
    width: 100%;
    height: 10px;
    background: #ddd;
}
#about-page .skill-persent3{
    width: 72%;
    height: 10px;
    background: #e5493a;
}
#about-page .persentage3 span {
    position: absolute;
    top: 30px;
    left: 72%;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #e5493a;
    border-radius: 3px;
}
#about-page .skill-bar-main4 {
    padding-top: 30px;
    position: relative;
    overflow-x: hidden;
}
#about-page .skill-bar-main4 h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 700;
}
#about-page .skill-bar4{
    width: 100%;
    height: 10px;
    background: #ddd;
}
#about-page .skill-persent4{
    width: 36%;
    height: 10px;
    background: #e5493a;
}
#about-page .persentage4 span {
    position: absolute;
    top: 30px;
    left: 36%;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    width: 40px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #e5493a;
    border-radius: 3px;
}


#about-page .our-team-about{
    margin-top: 30px;
    position: relative;
}
#about-page .team-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(54, 54, 54, 0.85);
    top: 0;
    left: 0;
    opacity: 0;
}
#about-page .our-team-content:hover .team-overlay{
    opacity: 1;
}
#about-page .team-overlay::before{
    position: absolute;
    content: '';
    width: 35px;
    height: 35px;
    background: #fff;
    transform: rotate(45deg);
    bottom: -18px;
    left: 45%;
}
#about-page .team-overlay i {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background: #898989;
    color: #4a4543;
    border-radius: 3px;
}
#about-page .team-overlay i:hover{
    background: #e5493a;
}
#about-page .out-team-text h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #363636;
    font-weight: 700;
    padding-top: 20px;
}
#about-page .our-team-content:hover h4 {
    color: #e5493a;
}
#about-page .out-team-text p {
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}
#about-page .out-team-text p::after{
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #363636;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#about-page .our-team-content:hover ::after{
    background: #e5493a;
}

/*============people-say-us pert start==========*/
#about-page #people-say-us{
    padding-top: 80px;
    padding-bottom: 80px;
}
#about-page .peoplesayus-heading h4{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #363636;
    font-weight: 700;
    position: relative;
}
#about-page .peoplesayus-heading h4::after{
    position: absolute;
    content: '';
    width: 170px;
    height: 2px;
    background: #e5493a;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#about-page .people-sya-us-feed p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #363636;
    font-weight: 300;
}
#about-page .people-say-item{
    padding-top: 20px;
}
#about-page .people-say-item img{
    border-radius: 50%;
    padding-bottom: 10px;
}
#about-page .people-say-item h6{
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-size: 14px;
    font-weight: 700;
}
#about-page .people-say-item p{
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    font-weight: 400;
}
#about-page .people-say-pic{
    position: relative;
}
#about-page .people-say-icon i{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    background: #ebebeb;
    border-radius: 3px;
}
#about-page .people-say-icon i:hover{
    background: #e5493a;
}
#about-page .prev {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	background: #e6e6e6;
}
#about-page .prev:hover{
    background: #e5493a;
}
#about-page .next:hover{
    background: #e5493a;
}
#about-page .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    background: #e6e6e6;
}
/*============happy-client pert start==========*/
#about-page #happy-client {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fafafa;
}
#about-page #live-preview{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #8dc63f;
}
#about-page .live-preview h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}
#about-page .live-preview p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
#about-page .live-preview-btn{
    padding-top: 30px;
}
#about-page .live-preview-btn a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding: 15px 30px;
    background: #363636;
    border-radius: 3px;
    text-transform: uppercase;
}
/*============protfolio-page css start==========*/
#protfolio-page #choose-us{
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fafafa;
}
#protfolio-page .why-chooseus{
    background: #f2f2f2;
    padding: 20px;
    margin-right: 30px;
}

/*============portfolio_details css pert start==========*/
#portfolio_details #header {
    background: #fafafa;
}
#portfolio_details #protfolio-details{
    padding-top: 80px;
    padding-bottom: 80px;

}
/* #portfolio_details .product-slider-icon{
    position: relative;
} */

#portfolio_details .main-product-slider{
    position: relative;
}
#portfolio_details .product-slider-icon i {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    background: #9f9f9f;
    color: #fff;
}
#portfolio_details .product-slider-icon i:hover{
    background: #e5493a;
}
#portfolio_details .prev{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 30px;
    z-index: 9999;
}
#portfolio_details .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
    z-index: 9999;
}
#portfolio_details .sm-product-item img{
    width: 100%;
    opacity: 0.4;
    transition: all linear .3s;
}
#portfolio_details .slick-center img {
    opacity: 1;
}
#portfolio_details .product-text h4{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #363636;
    font-weight: 700;
}
#portfolio_details .product-text p {
    font-family: 'Roboto', sans-serif;
    color: #959595;
    font-size: 14px;
    line-height: 20px;
}
#portfolio_details .product-text-btn{
    padding-top: 20px;
}
#portfolio_details .product-text-btn a{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    padding: 15px 30px;
    background: #8dc63f;
    border-radius: 3px;
    text-transform: uppercase;
}

#portfolio_details .project-info{
    padding-top: 55px;
}
#portfolio_details .project-info-icon i{
    color: #e1e1e1;
    font-size: 18px;
}
#portfolio_details .project-info-heading h6 {
    font-family: 'Roboto', sans-serif;
    color: #363636;
    font-size: 14px;
}
#portfolio_details .project-info-text p{
    font-family: 'Roboto', sans-serif;
    color: #ccc;
    font-size: 14px;
}
#portfolio_details .project-info-text-icon i{
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #e1e1e1;
    color: #fff;
    font-size: 12px;
}
#portfolio_details .project-info-text-icon i:hover{
    background: #e5493a;
}
#portfolio_details .like-loadmore-btn{
    padding-top: 35px;
}
#portfolio_details .like-loadmore-btn a{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    padding: 15px 30px;
    background: #363636;
    border-radius: 3px;
    text-transform: uppercase;
}
/* prev-next */
#portfolio_details #project-pn{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
}
#portfolio_details .prev-project{
    position: relative;
}
#portfolio_details .prev-project i{
    color: #e1e1e1;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    top: 5px;
    left: 5px;
}

#portfolio_details .next-project i{
    color: #e1e1e1;
    font-size: 40px;
    font-weight: 400;
    position: absolute;
    top: 5px;
    right: 20px;
}
#portfolio_details .prev-project-text h5{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    color: #363636;
    font-weight: 500;
}
#portfolio_details .prev-project-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #ccc;
    font-weight: 400;
    line-height: 10px;
}

#portfolio_details .project-item-center i{
    font-size: 30px;
    color: #959595;
}
#portfolio_details .project-item-prev:hover h5{
    color: #e5493a;
}
#portfolio_details .project-item-prev:hover i{
    color: #e5493a;
}
#portfolio_details .project-item-prev{
    cursor: pointer;
}


#portfolio_details #live-preview{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #e5493a;
}
#portfolio_details .live-preview h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}
#portfolio_details .live-preview p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
#portfolio_details .live-preview-btn{
    padding-top: 30px;
}
#portfolio_details  .live-preview-btn a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding: 15px 30px;
    background: #363636;
    border-radius: 3px;
    text-transform: uppercase;
}


/*============blog-main css pert start==========*/
#blog-page #blog-main {
    padding-top: 50px;
    padding-bottom: 50px;
}
#blog-page .blog-text{
    padding: 15px;
    background: #fafafa;
}

#blog-page .blog-text h5{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #363636;
    font-weight: 500;
}
#blog-page .blog-text span{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
}
#blog-page .blog-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
    line-height: 20px;
}
#blog-page .blog-btn a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 400;
    line-height: 20px;
    /* position: relative; */
}
#blog-page .blog-text{
    position: relative;
}
#blog-page .blog-text a::after{
    position: absolute;
    content: '';
    width: 70px;
    height: 3px;
    background: #363636;
    bottom: 3px;
    left: 15px;
    transition: all linear .3s;
}
#blog-page .theme-discribe{
    width: 100%;
    height: 179px;
    background: #6dcff6;
}
#blog-page .theme-discribe-text{
    padding: 25px;
}
#blog-page .theme-discribe-text h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color: #fff;
    font-weight: 800;
    margin-top: 30px;
}
#blog-page .theme-discribe-text a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #c7efff;
    font-weight: 400;
}
#blog-page .blog-main:hover h5{
    color: #e5493a;
}
#blog-page .blog-main:hover a{
    color: #e5493a;
}
#blog-page .blog-main:hover .blog-btn a::after{
    background: #e5493a;
    width: 85%;
}

#blog-page .blog-img-big{
    position: relative;
}
#blog-page .blog-big-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(54, 54, 54, 0.75);
    top: 0;
    left: 0;
    padding: 15px;
}
#blog-page .big-overlay-tex h4 {
    padding-top: 70px;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    color: #fff;
    font-weight: 500;
}
#blog-page .big-overlay-tex p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
}

#blog-page .big-overlay-tex h5{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #363636;
    font-weight: 500;
}
#blog-page .big-overlay-tex span{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
}
#blog-page .big-overlay-tex p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
    line-height: 20px;
}
#blog-page .big-overlay-tex a{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 400;
    line-height: 20px;
    /* position: relative; */
}

#blog-page .blog-main-big:hover h5 {
    color: #e5493a;
}
#blog-page .blog-main-big:hover a {
    color: #e5493a;
}
#blog-page .blog-main-big:hover .blog-btn a::after{
    background: #e5493a;
    width: 85%;
}

#blog-page .blog-img-video{
    opacity: 0.5;
}
#blog-page #live-preview{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #8dc63f;
}

#blog-page .live-preview h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}
#blog-page .live-preview p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
#blog-page .live-preview-btn{
    padding-top: 30px;
}
#blog-page .live-preview-btn a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding: 15px 30px;
    background: #363636;
    border-radius: 3px;
    text-transform: uppercase;
}


/*============blog-details css pert start==========*/
#blog-details #navber{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    z-index: 9999;
    color: #fff;
    /* background: rgba(0, 0, 0, 0.65); */
}
#blog-details .navbar-light .navbar-nav .nav-link {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    line-height: 20px;
    padding: 0 18px;
}
#blog-details .navbar-light .navbar-nav .nav-link:hover{
    color: #e5493a;
}
#blog-details .naveber-icon i {
    color: #fff;
}
#blog-details #blog-banner {
    background: url(../images/blog-banner1.png);
    height: 661px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
#blog-details .blog-banner-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
}
#blog-details .blog-banner-text{
    padding-top: 210px;
}
#blog-details .blog-banner-text h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: #fff;
    font-weight: 200;
}
#blog-details .blog-banner-text h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
    position: relative;
}
#blog-details .blog-banner-text h4::after{
    position: absolute;
    width: 170px;
    height: 2px;
    background: #e5493a;
    bottom: 0;
    left: 50%;
}
#blog-details .blog-details-main{
    background: #fafafa;
    
}
#blog-details .blog-details-text {
    padding: 20px;
}
#blog-details .blog-details-text h4{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #363636;
    font-weight: 800;
}
#blog-details .blog-details-text span{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ccc;
    font-weight: 300;
}
#blog-details .blog-details-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
}
#blog-details .blog-details-text h5{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #363636;
    font-weight: 700;
    padding: 0 100px;
}
#blog-details .blog-tags h5{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 800;
}
 .blog-tags-list ul li{
    display: inline-block;
}
#blog-details .blog-tags-list ul li a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #959595;
    font-weight: 400;
    padding: 10px 25px;
    border: 1px solid #959595;
    border-radius: 20px;
    margin-right: 5px;
}
#blog-details .blog-tags-list ul li a:hover{
    background: #e5493a;
    color: #fff;
}
#blog-details .blog-tag-main{
    padding-top: 30px;
}

#blog-details .blog-share-head h5{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #363636;
    font-weight: 800;
}
#blog-details .blog-share-icon i {
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    font-size: 12px;
    background: #e1e1e1;
    color: #fff;
}
#blog-details .blog-share-icon i:hover{
    background: #e5493a;
}
#blog-details .blog-share{
    padding-top: 20px;
    padding-bottom: 30px;
}
#blog-details .blog-catagoris input{
    width: 270px;
    height: 47px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 0 15px;
    position: relative;
}
#blog-details .blog-catagoris input::placeholder{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
}
#blog-details .blog-catagoris button {
    position: absolute;
    top: 60px;
    right: 20px;
    background:transparent;
    border: none;
}
#blog-details .blog-catagoris input:focus {
    outline: none;
}
#blog-details .blog-catagoris button:focus {
    outline:none;
}
#blog-details .blog-catagoris-item{
    padding-top: 30px;
}
#blog-details .blog-catagoris-item h5 {
    padding: 15px 30px;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #363636;
    font-weight: 600;
}
#blog-details .catagoris-item-main {
    padding: 10px 30px;
    background: #f5f5f5;
}
#blog-details .catagoris-item h6{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
}
#blog-details .catagoris-item-counter p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #ccc;
    font-weight: 400;
}
#blog-details .blog-recent-post{
    padding-top: 25px;
}
#blog-details .blog-recent-post h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #363636;
    font-weight: 500;
    padding: 15px;
    background: #f5f5f5;
}
#blog-details .blog-post-slider{
    width: 100%;
    height: 300px;
    background: #fafafa;
    padding: 15px;
}
#blog-details .blog-post-item a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #636363;
    font-weight: 400;
}
#blog-details .blog-post-item:hover a {
    color: #e5493a;
}
#blog-details .blog-post-item p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #ccc;
    font-weight: 400;
}

/*============navber pert start==========*/

#eror-page .error-page h3{
    font-family: 'Roboto', sans-serif;
    font-size: 280px;
    color: #e5493a;
    font-weight: 900;
    padding-top: 30px;
    line-height: 270px;
}
#eror-page .error-page h5{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    color: #555;
    font-weight: 300;
}
#eror-page .error-page h6{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #555;
    font-weight: 300;
}
#eror-page .error-page p{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #e5493a;
    font-weight: 300;
    padding-bottom: 60px;
}
#eror-page #eror-search{
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fafafa;
}
#eror-page .error-search input{
    width: 570px;
    height: 56px;
    border-radius: 30px;
    border: none;
    padding: 0 30px;
    position: relative;
}
#eror-page .error-search button{
    border: none;
    background: #fff;
    position: absolute;
    top: 15px;
    right: 112px;
}
#eror-page  .error-search input:focus {
    outline: none;
}
#eror-page  .error-search button:focus {
    outline:none;
}
/*============contact pert css start==========*/
#contact #contact-banner {
    background: url(../images/contact-banner.jpg);
    /* padding-top: 280px;
    padding-bottom: 160px; */
    height: 885px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
#contact .contact-banner-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.65);
    top: 0;
    left: 0;
}

#contact .contact-banner-text{
    padding-top: 170px;
}
#contact .contact-banner-text h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    color: #fff;
    font-weight: 200;
}
#contact .contact-banner-text h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 50px;
    color: #fff;
    font-weight: 700;
}
#contact .contact-info{
    padding-top: 72px;
}
#contact .contact-info:hover p{
    color: #e5493a;
}
#contact .contact-item{
    width: 100%;
    height: 213px;
    background: #252525;
    position: relative;
}
#contact .contact-item i{
   color: #fff;
   font-size: 30px;
   width: 70px;
   height: 70px;
   text-align: center;
   line-height: 70px;
   border-radius: 50%;
   background: #e5493a;
   position: absolute;
   top: 0;
   left: 50%;
   transform: translate(-50%, -50%);
}
#contact .contact-item h5{
    padding-top: 55px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-transform: capitalize;
}
#contact .contact-item p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
    position: relative;
}
#contact .contact-item p::before{
    position: absolute;
    content: '';
    width: 70px;
    height: 2px;
    background: #e5493a;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}
/* #contact .contact-share-icon i{
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background: #363636;
    color: #252525;

} */
#contact #contact-form{
    padding-top: 80px;
    padding-bottom: 80px;
}
#contact .contact-form-heading h4{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #363636;
    font-weight: 700;
}
#contact .contact-form-heading p{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #959595;
    font-weight: 400;
    position: relative;
}
#contact .contact-form-heading p::after{
    position: absolute;
    content: '';
    width: 170px;
    height: 2px;
    background: #959595;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}
#contact .contact-form{
    padding-top: 50px;
}
#contact .contact-form input{
    width: 100%;
    height: 45px;
    background: #fafafa;
    padding: 0 15px;
    border: none;
    color: #959595;
    position: relative;
}
#contact .input i {
	position: absolute;
	top: 16px;
    left: 340px;
    color: #959595;
}

#contact .contact-email{
    position: relative;
}
#contact .contact-email i{
    position: absolute;
    top: 16px;
    left: 320px;
    color: #959595;
}
#contact .contact-web{
    position: relative;
}
#contact .contact-web i{
    position: absolute;
    top: 16px;
    left: 320px;
    color: #959595;
}
#contact textarea{
    width: 100%;
    height: 100px;
    background: #fafafa;
    padding: 10px 15px;
    border: none;
    color: #959595;
    position: relative;
}
#contact .contact-textarea i{
    position: absolute;
    top: 35px;
    right: 35px;
    color: #959595;
}
#contact .contactform-btn {
    padding-top: 20px;
}
#contact .contactform-btn button{
    padding: 15px 30px;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 800;
    border: none;
    border-radius: 3px;
    background: #8dc63f;
    text-transform: uppercase;
}
#contact #happy-client {
    padding-top: 80px;
    padding-bottom: 80px;
    background: #fafafa;
}
#contact #live-preview{
    padding-top: 40px;
    padding-bottom: 40px;
    background: #e5493a;
}
#contact .live-preview h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 32px;
    color: #fff;
    font-weight: 700;
}
#contact .live-preview p {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    color: #fff;
    font-weight: 400;
}
#about-page .live-preview-btn{
    padding-top: 30px;
}
#contact .live-preview-btn a {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding: 15px 30px;
    background: #363636;
    border-radius: 3px;
    text-transform: uppercase;
}
#contact
#contact
/*============navber pert start==========*/
/*============navber pert start==========*/
/*============navber pert start==========*/
/*============navber pert start==========*/